:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --text: #434455;
    --dark-text: #2e2f42;
    --aktiv: #404bbf;
    --iris: #4d5ae5;
    --light: #f4f4fd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.list {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* скрываем заголовки */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: var(--main-font);
    color: var(--text);
    background: #ffffff;
    font-size: 16px;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    display: inline-block;
    margin-right: 76px;
    text-decoration: none;
}

.header-logo-part {
    color: var(--dark-text);
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--dark-text);
    padding: 24px 0;
    text-decoration: none;
}

.menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--aktiv);
}

.address {
    font-family: inherit;
    font-style: normal;
    line-height: 1.5;
    color: var(--text);
    text-decoration: none;
}

.address-container {
    display: flex;
    gap: 40px;
    align-items: center;
    /* margin-left: auto; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.address:hover,
.address:focus {
    color: #404bbf;
}

/* Hero */
.hero-section {
    background-color: var(--dark-text);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button-hero {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    list-style: none;
    border-color: var(--iris);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.button-hero:hover,
.button-hero:focus {
    background: var(--aktiv);
}

/* Advantages Section */
.advantages {
    margin-top: 0;
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.title {
    margin-bottom: 8px;
    margin-top: 0;
}

.advantages-title {
    letter-spacing: 0.02em;
}

.advantages-text {
    line-height: 1.5;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

/* doing */
.doing-section {
    padding-bottom: 120px;
}

.doing-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-text);
    margin-bottom: 72px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

/* team */
.section-team {
    background: var(--light);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-card {
    padding: 32px 16px;
    border-radius: 0 0 4px 4px;
}

.name-persone {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
}

.job-title {
    line-height: 1.5;
    text-align: center;
}

/* footer */
.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light);
    display: inline-block;
    margin-right: 76px;
    text-decoration: none;
}

.footer-logo-part {
    color: var(--iris);
}

.footer-text {
    line-height: 1.5;
    color: var(--light);
    max-width: 264px;
    margin-top: 16px;
}

/* Page PORTFOLIO */
.section-portfolio {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-button-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.button-filtr {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    align-items: center;
    text-align: center;
    color: var(--iris);
    background: var(--light);
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    display: inline-block;
}

.button-filtr:hover,
.button-filtr:focus {
    background: var(--aktiv);
    color: #ffffff;
    border: 1px solid transparent;
}

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-caption {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text);
    margin-bottom: 8px;
    margin-top: 0;
}

.portfolio-text {
    line-height: 1.5;
    color: var(--text);
    display: inline-block;
    margin: 0;
}