:root {
    --main-font-family: 'Roboto',
        sans-serif;
    --secondary-font-family: 'Raleway',
        sans-serif;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #404BBF;
    --secondary-accent-color: #4D5AE5;
    --logo-footer-second-color: #F4F4FD;
    --main-background-color: #FFFFFF;
}

/* index.html */

body {
    color: var(--secondary-text-color);
    font-family: var(--main-font-family);
    background-color: var(--main-background-color);
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;

}

.list:hover,
.list:focus {
    color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.page-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.page-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.logo-link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    color: var(--secondary-accent-color);
    margin-right: 76px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.logo-link-accent {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.contact {
    font-style: normal;
}

.contact-menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px
}

.contact-information {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
}


.contact-information:hover,
.contact-information:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--primary-text-color);
    padding: 188px 0;

}

.main-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;

}

.button {
    font-family: inherit;
    cursor: pointer;
}

.button-hero {
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-open-btn {
    display: block;
    color: #FFFFFF;
    background-color: var(--secondary-accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--accent-color);
}

/* feauters */
.feauters {
    background-color: #FFFFFF;
}

.feauters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.feauters-item {
    width: calc((100% - 72px) / 4);
}

.feauters-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feauters-suptitle {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* activity */

.activity section {
    padding-top: 0;
}

.activity-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
}

.activity-list {
    display: flex;
    gap: 24px;
}

.activity-item {
    flex-basis: calc((100% - 48px) / 3);
}

/* our team */
.our-team {
    background-color: var(--logo-footer-second-color);
}

.our-team-main-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-container {
    padding: 32px 16px;
}

.our-team-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.our-team-suptitle {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* footer */
.footer {
    font-family: var(--secondary-font-family);
    background-color: var(--primary-text-color);
    padding: 100px 0;
}

.logo-footer {
    color: var(--secondary-accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-accent {
    color: var(--logo-footer-second-color);
    display: inline-block;
}

.footer-suptitle {
    font-family: var(--main-font-family);
    color: var(--logo-footer-second-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-right: auto;
}

/* portfolio.html */

/* navigation */
.navigation {
    padding: 96px 0 120px;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.navigation-button {
    background-color: var(--logo-footer-second-color);
    font-family: var(--main-font-family);
    color: var(--secondary-accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    border-radius: 4px;

}

.navigation-button:hover,
.navigation-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    border: 1px solid transparent;
}

/* work examples */
.work-examples-list {
    list-style: none;
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.work-examples-item {
    width: calc((100% - 48px) / 3);
}

.work-examples-border {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

.work-examples-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.work-examples-suptitle {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}